<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Các Đơn Đặt Hàng: <a>{{user?.name}}</a>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a (click)="addBill()" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">add</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                     <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group">
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="reservationId" placeholder="Mã Đơn Hàng">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>
                                            <thead>
                                                <th>Mã SP</th>
                                                <th>S.Lượng</th>
                                                <th>Hộp</th> 
                                            </thead>
                                        </th>
                                        <th>Tỉ Giá</th>
                                        <th>Thành Tiền</th>
                                        <th>Phụ Phí</th>
                                        <th>Đặt Cọc</th>
                                        <th>Còn Lại</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tỉ Giá</th>
                                        <th>Thành Tiền</th>
                                        <th>Phụ Phí</th>
                                        <th>Đặt Cọc</th>
                                        <th>Còn Lại</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr style="background-color: #a1edeb;">
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td>{{calculateByProp('total')| number: '1.2-2'}}</td>
                                      <td>{{calculateByProp('surcharge')| number: '1.2-2'}}</td>
                                      <td>{{calculateByProp('deposit')| number: '1.2-2'}}</td>
                                      <td>{{calculateByProp('total') - calculateByProp('surcharge') - calculateByProp('deposit')| number: '1.2-2'}}</td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                     <tr *ngFor="let item of billData | user: {'billdetail': {'productId': productId}}">
                                        <td>{{formatService.formatDate(item.createdDate)}}</td>
                                        <td (click)="gotoDetail(item)">
                                             <a> 
                                                <thead>
                                                    <tr *ngFor="let it of item.billdetail" id="suItem">
                                                        <td>{{it.productId}}</td>
                                                        <td>{{it.quantity}}</td>
                                                        <td>{{it.keepBox? it.quantity: 0}}</td>
                                                    </tr>
                                                </thead>
                                             </a> 
                                        </td>
                                        <td>{{item.exchangeRate}}</td>
                                        <td>{{item.total| number: '1.2-2'}}</td>
                                        <td>{{item.surcharge| number: '1.2-2'}}</td>
                                        <td>{{item.deposit| number: '1.2-2'}}</td>
                                        <td>{{item.total - item.deposit - -item.surcharge | number: '1.2-2'}}</td>
                                        <td>{{formatService.statusType(item.status)}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>