<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Lịch Sử Giao Dịch Của: <a (click)="updateUser()">{{user?.name}}</a>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a (click)="addBill()" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">add</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                     <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group">
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="reservationId" placeholder="Mã Đơn Hàng">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Mã Đơn Hàng</th>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tỉ Giá</th>
                                        <th>Phí Ship</th>
                                        <th>Phụ Phí</th>
                                        <th>Thành Tiền</th>
                                        <th>Đặt Cọc</th>
                                        <th>Còn Lại</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Mã Đơn Hàng</th>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tỉ Giá</th>
                                        <th>Phí Ship</th>
                                        <th>Phụ Phí</th>
                                        <th>Thành Tiền</th>
                                        <th>Đặt Cọc</th>
                                        <th>Còn Lại</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr style="background-color: #a1edeb;">
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td>{{calculateByProp('shipFee')| number: '1.0-2'}}</td>
                                      <td></td>
                                      <td>{{calculateTotalFee()| number: '1.0-2'}}</td>
                                      <td>{{calculateByProp('deposit')| number: '1.0-2'}}</td>
                                      <td>{{calculateTotalFee() - calculateByProp('deposit')| number: '1.0-2'}}</td>
                                      <td></td>
                                    </tr>
                                     <tr *ngFor="let item of billData | user: {'reservationId': reservationId}">
                                        <td>{{formatService.formatDate(item.createdDate)}}</td>
                                        <td>{{item?.reservationId}}</td>
                                        <td (click)="gotoDetail(item)"><a><ul style="padding-left: 15px;">
                                                <li *ngFor="let it of item.billdetail">{{it.productId}}</li>
                                            </ul></a></td>
                                        <td>{{item.exchangeRate}}</td>
                                        <td>{{item.shipFee| number: '1.0-2'}}</td>
                                        <td>{{item.surcharge| number: '1.0-2'}}</td>
                                        <td>{{formatService.calculateTotalBill(item)| number: '1.0-2'}}</td>
                                        <td>{{item.deposit| number: '1.0-2'}}</td>
                                        <td>{{formatService.calculateTotalBill(item) - item.deposit| number: '1.0-2'}}</td>
                                        <td>{{formatService.statusType(item.status)}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>