<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Đơn Hàng
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Thêm Khách Hàng</a></li>
                                    <li><a href="javascript:void(0);">Tìm Kiếm</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group">
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="reservationName" placeholder="Mã ĐH">
                                </div>
                                <div class="form-group" style="margin: 0">
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="from" placeholder="From">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                     </mat-form-field>  
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker2" [(ngModel)]="to" placeholder="To">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker2></mat-datepicker>
                                     </mat-form-field>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th *ngIf="sr">Ngày</th>
                                        <th>Web Đặt</th>
                                        <th>Mã Đh</th>
                                        <th *ngIf="sr">Email Đặt Hàng</th>
                                        <th *ngIf="sr">Mã Vận Đơn</th>
                                        <th *ngIf="sr">Tổng số lượng</th>
                                        <th *ngIf="sr">Tổng ngoại tệ</th>
                                        <th *ngIf="sr">Tỉ Giá</th>
                                        <th *ngIf="sr">Khối Lượng</th>
                                        <th *ngIf="sr">Đơn giá</th>
                                        <th *ngIf="sr">Tổng Ship</th>
                                        <th *ngIf="sr">Thành Tiền</th>
                                        <th *ngIf="sr">Đã thanh toán</th>
                                        <th *ngIf="sr">Dư Nợ</th>
                                        <th *ngIf="sr">Ghi Chú</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th *ngIf="sr">Ngày</th>
                                        <th>Web Đặt</th>
                                        <th>Mã Đh</th>
                                        <th *ngIf="sr">Email Đặt Hàng</th>
                                        <th *ngIf="sr">Mã Vận Đơn</th>
                                        <th *ngIf="sr">Tổng số lượng</th>
                                        <th *ngIf="sr">Tổng ngoại tệ</th>
                                        <th *ngIf="sr">Tỉ Giá</th>
                                        <th *ngIf="sr">Khối Lượng</th>
                                        <th *ngIf="sr">Đơn giá</th>
                                        <th *ngIf="sr">Tổng Ship</th>
                                        <th *ngIf="sr">Thành Tiền</th>
                                        <th *ngIf="sr">Đã thanh toán</th>
                                        <th *ngIf="sr">Dư Nợ</th>
                                        <th *ngIf="sr">Ghi Chú</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr style="background-color: #a1edeb;">
                                        <td *ngIf="sr"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngIf="sr">{{calculateByProp('quantity')}}</td>
                                        <td *ngIf="sr">{{calculateByProp('price')| number: '1.0-2'}}</td>
                                        <td *ngIf="sr"></td>
                                        <td *ngIf="sr"></td>
                                        <td *ngIf="sr"></td>
                                        <td *ngIf="sr"></td>
                                        <td *ngIf="sr">{{calculateByProp('money')| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{calculateByProp('deposit')| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{calculateByProp('remaining') | number: '1.0-2'}}</td>
                                        <td *ngIf="sr"></td>
                                        <td></td>
                                    </tr>
                                    <tr *ngFor="let item of orderData | user: {'reservationName': reservationName} | time: {'from': from, 'to': to}">
                                        <td *ngIf="sr">{{formatService.formatDate(item.createdDate)}}</td>
                                        <td (click)="openOrder(item)"><a>{{item.brand}}</a></td>
                                        <td>{{item.reservationName}}</td>
                                        <th *ngIf="sr">{{item.orderEmail}}</th>
                                        <th *ngIf="sr">{{item.wayBillCode}}</th>
                                        <td *ngIf="sr">{{item.quantity}}</td>
                                        <td *ngIf="sr">{{item.price| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{item.exchangeRate}}</td>
                                        <td *ngIf="sr">{{item.weight}}</td>
                                        <td *ngIf="sr">{{item.unitPrice| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{item.unitPrice * item.weight| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{item.money| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{item.deposit| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{item.remaining| number: '1.0-2'}}</td>
                                        <td *ngIf="sr">{{item.note}}</td>
                                        <td>{{formatService.statusType(item.status)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>