<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Danh Sách Hóa Đơn
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">cart</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group">
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="name" placeholder="Tên">
                                </div>
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="reservationId" placeholder="Đơn Hàng">
                                </div>
                                <div class="form-group">
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="from" placeholder="From">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                     </mat-form-field>  
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker2" [(ngModel)]="to" placeholder="To">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker2></mat-datepicker>
                                     </mat-form-field>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th *ngIf="sr">Ngày Đặt</th>
                                        <th (click)="sr = !sr">Tên KH</th>
                                        <th *ngIf="sr">Số Điện Thoại</th>
                                        <th *ngIf="sr">Mã ĐH</th>
                                        <th>Mã SP</th>
                                        <th *ngIf="sr">Tỉ Giá</th>
                                        <th *ngIf="sr">Đặt Cọc</th>
                                        <th *ngIf="sr">Phí Ship</th>
                                        <th *ngIf="sr">Tổng Tiền</th>
                                        <th *ngIf="sr">Dư Nợ</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th *ngIf="sr">Ngày Đặt</th>
                                        <th (click)="sr = !sr">Tên KH</th>
                                        <th *ngIf="sr">Số Điện Thoại</th>
                                        <th *ngIf="sr">Mã ĐH</th>
                                        <th>Mã SP</th>
                                        <th *ngIf="sr">Tỉ Giá</th>
                                        <th *ngIf="sr">Đặt Cọc</th>
                                        <th *ngIf="sr">Phí Ship</th>
                                        <th *ngIf="sr">Tổng Tiền</th>
                                        <th *ngIf="sr">Dư Nợ</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let item of fakedData | user: {'user': {'name': name}, 'reservationId': reservationId} | time: {'from': from, 'to': to}">
                                        <td *ngIf="sr">{{formatService.formatDate(item.createdDate)}}</td>
                                        <td><a (click)="order(item)" data-toggle="tooltip" data-placement="top" title="Click Để Đặt Hàng">
                                            <div><i class="material-icons" style="font-size: 14px">add_shopping_cart</i>{{item.user.name}}</div> 
                                        </a></td>
                                        <td  *ngIf="sr"><a [routerLink]="['/home/history/' + item.userId]" data-toggle="tooltip" data-placement="top" title="Click Để Xem Lịch Sử Đặt Hàng">
                                            <div><i class="material-icons" style="font-size: 14px">history</i>{{item.user.phone}}</div>
                                        </a></td>
                                        <td *ngIf="sr" (click)="openBill(item)"><a>{{item.reservationId}}</a></td>
                                        <td>
                                                <ul style="padding-left: 15px;" *ngIf="item.billdetail">
                                                    <li *ngFor="let product of item.billdetail">{{product.productId}} - {{product.quantity}}</li>
                                                </ul>
                                        </td>
                                        <td *ngIf="sr">{{item.exchangeRate}}</td>
                                        <td *ngIf="sr">{{item.deposit| number: '1.2-2'}}</td>
                                        <td *ngIf="sr">{{item.shipFee| number: '1.2-2'}}</td>
                                        <td *ngIf="sr">{{item.total| number: '1.2-2'}}</td>
                                        <td *ngIf="sr">{{item.total - item.deposit| number: '1.2-2'}}</td>
                                        <td><a (click)="update(item)">
                                            <div><i class="material-icons" style="font-size: 14px">settings</i>{{formatService.statusType(item.status)}}</div>
                                        </a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>