

<body class="signup-page">
  <div class="signup-box">
    <div class="logo">
      <a href="javascript:void(0);"><b>Đơn Hàng</b></a>
       <!-- <small>Mã Đơn Hàng: {{orderData.madh}}</small>  -->
    </div>
    <div class="card" style="box-shadow: unset">
      <div class="body">
        <form id="sign_up" method="POST">
          <div class="row">

            <div class=" col-md-6  col-sm-6 col-lg-6" style="margin-bottom: 20px; min-width: 50%;">
              <div class="select-person-header">List Đơn </div>
              <mat-card style="padding: 24px 0px;">
                <mat-card-content>
                  <div class="container-fluid">
                    <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                          <div class="body" style="padding: 0">
                            <div class="table-responsive">
                              <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="margin-bottom: 0">
                                <thead>
                                  <tr>
                                    <th (click)="selectAll()">Mã Đơn</th>
                                    <th>Mã SP | SL | Giữ Hộp</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of listOrder; let i = index" [ngStyle]="{'background-color': item.manh? i%2? '#ced8c0': '#e1efce': ''}">
                                    <td (click)="selectItem(item)">{{item.id}} | {{item.quantity}}</td>
                                    <td>
                                      <div *ngFor="let prod of item.reservationdetail">{{prod.productId}} | {{prod.quantity}} | {{prod.keepBox}}</div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <!-- <div class=" col-md-4  col-sm-6 col-lg-4" style="margin-bottom: 20px">
              <div class="select-person-header">Result </div>
              <mat-card style="padding: 24px 0px;">
                <mat-card-content>
                  <div class="container-fluid">
                    <div class="row clearfix">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                          <div class="body" style="padding: 0">
                            <div class="table-responsive">
                              <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="margin-bottom: 0">
                                <thead>
                                  <tr>
                                    <th>Mã Đơn</th>
                                    <th>Số Lượng</th>
                                    <th>Giữ Hộp</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of listOrder | user: {'manh': receiveData.manh}">
                                    <td>{{item.madh}}</td>
                                    <td>{{item.tongsl}}</td>
                                    <td>{{item.giuhop}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div> -->

            <div class="col-md-6  col-sm-6 col-lg-6" style="min-width: 50%;">
              <div class="panel panel-primary">
                <div class="panel-body">
                  <form name="myform">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                      <div class="form-group">
                        <label for="age">Khối Lượng *</label>
                        <input id="age" name="weight" [(ngModel)]="receiveData.weight" class="form-control" type="number" min="1">
                        <span id="error_age" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                        <label for="age">Đơn Giá *</label>
                        <input id="age" name="unitPrice" [(ngModel)]="receiveData.unitPrice" class="form-control" type="number" min="1">
                        <span id="error_age" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                        <label for="age">Phụ Phí *</label>
                        <input id="age" name="surcharge" [(ngModel)]="receiveData.surcharge" class="form-control" type="number" min="1">
                        <span id="error_age" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                        <label for="age">Thành Tiền *</label>
                        <span id="age" class="form-control">{{receiveData.weight * receiveData.unitPrice - -receiveData.surcharge| number: '1.2-2' }}</span>
                        <span id="error_age" class="text-danger"></span>
                      </div>
                      <div class="form-group">
                        <label for="lastname">Trạng Thái *</label>
                        <div>
                          <select data-validation="required" name="status" [(ngModel)]="receiveData.status" class="form-control">
                            <option value="5">Chưa Về Kho Nhật</option>
                            <option value="6">Về Kho Nhật</option>
                            <option value="7">Về Kho Việt Nam</option>
                            <option value="8">Hoàn Tất</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="age">Ghi Chú *</label>
                        <textarea class="form-control" name="note" [(ngModel)]="receiveData.note" rows="3"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div style="display: inline-block; width: 100%">
            <button class="btn btn-block btn-lg bg-cyan waves-effect" (click)="submit()" style="float:left" type="submit">UPDATE</button>
            <button class="btn btn-block btn-lg bg-pink waves-effect" style="float:left" mat-dialog-close>CANCEL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>