 <div style="width: 286px;">
  <div style="width:100%;height:110p; text-align: center">
    <i class="material-icons" style="font-size: 100px; color: darkorange; top: 7%; position: relative;">warning</i>
  </div>
  <div class="body" style="text-align: center;padding: 10px;background-color: white;">
    <div><strong>Failed!</strong></div>
    <div>{{data}}!</div>
    <div>
      <button style="margin-top: 20px" (click)="dialogRef.close()"  class="btn btn-danger">Đóng</button>
    </div>
  </div>
</div> 