<body class="signup-page" id="user">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>Khách Hàng</b></a>
            <small>Thông Tin Chi Tiết</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person</i>
                      </span>
                        <div class="form-line">
                            <input type="text" class="form-control" [(ngModel)]="data.name" name="name" placeholder="Tên Khách Hàng" autofocus> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">phone</i>
                      </span>
                        <div class="form-line">
                            <input type="text" class="form-control" [(ngModel)]="data.phone" name="phone" placeholder="Số Điện Thoại" autofocus> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">home</i>
                      </span>
                        <div class="form-line">
                            <input type="text" class="form-control" [(ngModel)]="data.generalAddress" name="generalAddress" placeholder="Xã - Phường ..." autofocus>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">home</i>
                      </span>
                        <div class="form-line">
                            <input type="text" class="form-control" [(ngModel)]="data.detailAddress" name="detailAddress" placeholder="Số nhà - ngách ..." autofocus>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">account_circle</i>
                      </span>
                        <div class="form-line">
                            <select [(ngModel)]="data.role" name="role" class="form-control">
                                <option>Loại Khách Hàng</option>
                                <option value="client">Khách lẻ</option>
                                <option value="client2">Khách Buôn</option>
                                <option value="shiperjp">ShipperJP</option>
                                <option value="shiperuk">ShipperUK</option>
                                <option value="urbanShiper">Ship nội thành</option>
                                <option value="suburbShiper">Ship tỉnh</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">trending_up</i>
                      </span>
                        <div class="form-line">
                            <input type="number" class="form-control" [(ngModel)]="data.helpFee" name="helpFee" placeholder="Phí mua hộ" autofocus>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">trending_up</i>
                      </span>
                        <div class="form-line">
                            <input type="number" class="form-control" [(ngModel)]="data.exchangeOdds" name="exchangeOdds" placeholder="Tỉ Giá" autofocus>
                        </div>
                    </div>

                    <div class="m-t-25 m-b--5 align-center" style="margin-bottom: 20px">
                        <a (click)="order()"  [ngClass]="!data.name || !data.phone? 'disabled': ''">Đặt Hàng</a>
                    </div>
                    <div class="m-t-25 m-b--5 align-center" style="margin-bottom: 20px">
                        <a (click)="gotoHistory()">Xem Lịch Sử Giao Dịch</a>
                    </div>

                    <div style="display: inline-block; width: 100%">
                        <button class="btn btn-block btn-lg bg-cyan waves-effect" (click)="update()" style="float:left; padding: 10px;" type="submit">{{data.id? "UPDATE": "CREATE"}}</button>
                        <button class="btn btn-block btn-lg bg-pink waves-effect" style="float:left; padding: 10px;" (click)="dialogRef.close(reload)">CANCEL</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>