<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            User List
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a (click)="openAddProductKind(null)">Thêm Khách Hàng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group" id="input-user">
                                <div class="form-line" style="display: inline-block; position: absolute; right: 0">
                                    <select [(ngModel)]="peopleFilter.role" class="form-control" style="position: absolute; top:0;border-bottom: 1px solid #ccc;">
                                        <option value="">Loại Khách Hàng</option>
                                        <option value="client">Khách lẻ</option>
                                        <option value="client2">Khách Buôn</option>
                                        <option value="shiper">Shipper</option>
                                        <option value="buyer">Người Mua</option>
                                        <option value="receiver">Người Nhận</option>
                                    </select>
                                </div>
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="peopleFilter.name" placeholder="Tìm Kiếm Theo Tên">
                                </div>
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="peopleFilter.phone" placeholder="Tìm Kiếm Theo phone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <!-- <th>Mã KH</th> -->
                                        <th>Tên KH</th>
                                        <th>phone</th>
                                        <th *ngIf="sc">Email</th> 
                                        <th *ngIf="sc">Địa Chỉ</th> 
                                        <th>Loại KH</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <!-- <th>Mã KH</th> -->
                                        <th>Tên KH</th>
                                        <th>phone</th>
                                        <th *ngIf="sc">Email</th> 
                                        <th *ngIf="sc">Địa Chỉ</th> 
                                        <th>Loại KH</th>
                                    </tr>
                                </tfoot>
                                <tbody *ngIf="fakedData">
                                    <tr *ngFor="let item of fakedData | user: {'role': peopleFilter.role, 'phone': peopleFilter.phone, 'name': peopleFilter.name}">
                                        <!-- <td>{{item.makh}}</td> -->
                                        <td><a (click)="openAddProductKind(item)" data-toggle="tooltip" data-placement="top" title="Click Để Xem Thông Tin Chi Tiết Khách Hàng">{{item.name}}</a></td>
                                        <td>{{item.phone}}</td>
                                         <td *ngIf="sc">{{item.email}}</td> 
                                         <td *ngIf="sc">{{item.address}}</td> 
                                        <td>{{selectKind(item.role)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>