<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>Đặt Hàng</b></a>
            <!-- <small>Thông Tin Chi Tiết</small> -->
        </div>
        <div class="card" style="box-shadow: unset">
            <div class="body">
                <form id="sign_up" method="POST">
                    <div class="row">
                        <div class="col-md-12" *ngIf="billDetailList.length == 1">
                            <app-child-product [product]="billDetailList[0]" [reservationId]="data.bill && data.bill.reservationId" (add)="addProduct($event)" (delete)="deleteProduct($event)"></app-child-product>
                        </div>
                    </div>

                    <div class="row" *ngIf="billDetailList.length > 1">
                        <div class="col-md-6 col-lg-6 col-sm-6" *ngFor="let item of billDetailList">
                            <app-child-product [product]="item" [reservationId]="data.bill && data.bill.reservationId" (add)="addProduct($event)" (delete)="deleteProduct($event)"></app-child-product>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <form name="myform">
                                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">

                                            <div class="form-group">
                                                <label for="age">Thương Hiệu *</label>
                                                <input id="age" name="brand" class="form-control" [ngStyle]="{'color': data.bill.brand? '':'red'}" [(ngModel)]="data.bill.brand" type="text" min="1">
                                                <span id="error_age" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="ship">Tỉ Giá (Tỉ Giá Hệ Thống Lúc Tạo Đơn + Tỉ Giá KH)</label>
                                                <span class="form-control">{{exchangeValue}}</span>
                                                <span id="error_age" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="age">Triết Khấu *</label>
                                                <input id="age" name="tradeDiscount" class="form-control" [(ngModel)]="data.bill.tradeDiscount" type="number" min="0">
                                                <span id="error_age" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="shipFee">Phí Ship *</label>
                                                <input [(ngModel)]="data.bill.shipFee" name="shipFee" class="form-control" min="1" type="number">
                                                <span id="error_age" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="surcharge">Phụ Phí *</label>
                                                <input [(ngModel)]="data.bill.surcharge" name="surcharge" class="form-control" min="1" type="numer">
                                                <span id="error_age" class="text-danger"></span>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="total">Thành Tiền * <button (click)="calculate()" class="btn btn-primary waves-effect">Tính</button></label>
                                                <input [(ngModel)]="data.bill.total" name="total" class="form-control" min="1" type="number">
                                                <span id="error_age" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="deposit">Đặt Cọc *</label>
                                                <input [(ngModel)]="data.bill.deposit" name="deposit" class="form-control" min="1" type="number">
                                                <span id="error_age" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: inline-block; width: 100%">
                        <button class="btn btn-block btn-lg bg-cyan waves-effect" (click)="regist()" style="float:left" type="submit">UPDATE</button>
                        <button class="btn btn-block btn-lg bg-pink waves-effect" style="float:left" mat-dialog-close>CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>