<section class="content">
  <div *ngIf="listOrder.length" class="container">
    <div class="row">
      <div class="col-md-4  col-sm-6 col-lg-4">
        <div class="select-person-header">Tạo Đơn Hàng </div>
        <div class="panel panel-primary">
          <div class="panel-body">
            <form name="myform">
              <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="form-group">
                  <label for="age" [ngStyle]="{'color': selectedUser? '': 'red'}" >Người Nhận Hàng *</label>
                  <mat-form-field class="example-full-width" [floatLabel]="'never'">
                    <input type="text" placeholder="Nhập Tên..." style="color: #555" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of optionsUser | user: {'tenkh': filterUser}" [value]="option.tenkh">
                        {{ option.tenkh }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <label for="age">Khối Lượng *</label>
                  <input id="age" name="khoiluong" [(ngModel)]="receiveData.khoiluong" class="form-control" type="text" min="1">
                  <span id="error_age" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label for="age">Đơn Giá *</label>
                  <input id="age" name="dongia" [(ngModel)]="receiveData.dongia" class="form-control" type="number" min="1">
                  <span id="error_age" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label for="age">Phụ Phí *</label>
                  <input id="age" name="khoiluong" [(ngModel)]="receiveData.phuphi" class="form-control" type="number" min="1">
                  <span id="error_age" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label for="age">Thành Tiền *</label>
                  <span id="age" class="form-control" >{{receiveData.khoiluong * receiveData.dongia + receiveData.phuphi}}</span>
                  <span id="error_age" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label for="age">Ghi Chú *</label>
                  <textarea class="form-control" name="ghichu" [(ngModel)]="receiveData.ghichu" rows="3"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4  col-sm-6 col-lg-4" style="margin-bottom: 20px">
        <div class="select-person-header">List Đơn </div>
        <mat-card style="padding: 24px 0px;">
          <mat-card-content>
            <div class="container-fluid">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="body" style="padding: 0">
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="margin-bottom: 0">
                          <thead>
                            <tr>
                              <th (click)="selectAll()">Mã Đơn</th>
                              <th>Mã SP | SL</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of listOrder; let i = index" [ngStyle]="{'background-color': item.manh? i%2? '#ced8c0': '#e1efce': ''}">
                              <td (click)="selectItem(item)">{{item.madh}} | {{item.tongsl}}</td>
                              <td>
                                <div *ngFor="let prod of item.chitietdhs">{{prod.masp}} | {{prod.soluong}}</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4" style="margin-bottom: 20px">
        <div class="select-person-header">Result </div>
        <mat-card>
          <mat-card-content>
            <div class="container-fluid">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="body">
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                          <thead>
                            <tr>
                              <th>Mã Đơn</th>
                              <th>Số Lượng</th>
                              <th>Giữ Hộp</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of receiveData.chitietnhs">
                              <td>{{item.madh}}</td>
                              <td>{{item.soluong}}</td>
                              <td>{{item.giuhop}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: inline-block; width: 100%">
              <button class="btn btn-block btn-lg bg-cyan waves-effect" style="" (click)="submit()" type="submit">Submit</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>  
  <body *ngIf="!listOrder.length" class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code"><i class="material-icons" style="font-size: inherit;color: darkgrey;">face</i></div>
        <div class="error-message">Không Có Đơn Nào</div>
    </div>
</body>
</section>