<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Danh Sách
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a>Thêm Khách Hàng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group" id="input-user">
                                <div class="form-line" style="display: inline-block; position: absolute; right: 0">
                                    <select [(ngModel)]="status" class="form-control" style="position: absolute; top:0px;border-bottom: 1px solid #ccc;">
                                        <option value="">Trạng Thái</option>
                                        <option value="5">Chưa Về Kho Nhật</option>
                                        <option value="6">Về Kho Nhật</option>
                                        <option value="7">Về Kho Việt Nam</option>
                                    </select>
                                </div>
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="name" placeholder="Tên">
                                </div>
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="reservationId" placeholder="Mã ĐH">
                                </div>
                                <div class="form-group" style="margin: 0">
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="from" placeholder="From">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                     </mat-form-field>  
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker2" [(ngModel)]="to" placeholder="To">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker2></mat-datepicker>
                                     </mat-form-field>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th *ngIf="sc">Ngày</th> 
                                        <th>Tên KH</th>
                                        <th *ngIf="sc">phone</th>
                                        <th *ngIf="sc">Mã Đơn</th> 
                                        <th *ngIf="sc">Khối Lượng</th> 
                                        <th *ngIf="sc">Đơn Giá</th> 
                                        <th *ngIf="sc">Phụ Phí</th> 
                                        <th *ngIf="sc">Thành Tiền</th> 
                                        <th *ngIf="sc">Đặt Cọc</th> 
                                        <th *ngIf="sc">Dư Nợ</th> 
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th *ngIf="sc">Ngày</th> 
                                        <th>Tên KH</th>
                                        <th *ngIf="sc">phone</th>
                                        <th *ngIf="sc">Mã Đơn</th> 
                                        <th *ngIf="sc">Khối Lượng</th> 
                                        <th *ngIf="sc">Đơn Giá</th> 
                                        <th *ngIf="sc">Phụ Phí</th> 
                                        <th *ngIf="sc">Thành Tiền</th> 
                                        <th *ngIf="sc">Đặt Cọc</th> 
                                        <th *ngIf="sc">Dư Nợ</th> 
                                        <th>Trạng Thái</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                     <tr style="background-color: #a1edeb;">
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td>{{calculateByProp('weight')}}</td>
                                      <td></td>
                                      <td>{{calculateByProp('surcharge')}}</td>
                                       <td>{{calculateByProp('unitPrice','weight')| number: '1.2-2'}}</td> 
                                      <td>{{calculateByProp('deposit')| number: '1.2-2'}}</td>
                                       <td>{{calculateByProp('unitPrice','weight') + calculateByProp('surcharge') - calculateByProp('deposit')| number: '1.2-2'}}</td> 
                                      <td></td>
                                    </tr> 
                                    <tr *ngFor="let item of receiveList| user: {'status': status, 'user': {'name': name}, 'receiverdetail': {'reservationId': reservationId}} | time: {'from': from, 'to': to}">
                                        <td>{{formatService.formatDate(item.createdDate)}}</td> 
                                        <td><a [routerLink]="['/home/receiver/history/' + item.user.id]">{{item?.user?.name}}</a></td>
                                        <td *ngIf="sc">{{item.user.phone}}</td>
                                        <td *ngIf="sc"><a (click)="openReceiveDetail(item)">
                                            <ul>
                                                <li *ngFor="let prod of item.receiverdetail">{{prod.reservationId}}</li>
                                                <li *ngIf="item.receiverdetail && item.receiverdetail.length==0">unknown</li>
                                            </ul> 
                                        </a></td> 
                                        <td>{{item.weight}}</td>
                                        <td *ngIf="sc">{{item.unitPrice}}</td> 
                                        <td *ngIf="sc">{{item.surcharge}}</td> 
                                        <td>{{item.unitPrice*item.weight -- item.surcharge | number: '1.2-2'}}</td>
                                        <td *ngIf="sc">{{item.deposit}}</td> 
                                        <td *ngIf="sc">{{item.unitPrice*item.weight -- item.surcharge - item.deposit}}</td> 
                                        <td>{{formatService.statusType(item.status)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>