<!-- <div class="panel panel-primary">
  <li *ngIf="product.billId" class="dropdown" style="list-style-type: none;">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" class="input-group-addon" id="cancel" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">cancel</i>
                                </a>
    <ul class="dropdown-menu pull-right" style="border-radius: 10px; min-width: 0px; padding: 5px;">
      <li>
        <button (click)="deleteProduct()" class="btn btn-primary" style="border-radius: 10px;">confirm</button><button _ngcontent-c6="" style="margin-left: 10px;border-radius: 10px;" class="btn btn-danger">cancel</button>
      </li>
    </ul>
  </li>
  <a id="cancel"*ngIf="!product.billId" (click)="deleteProduct()" class="dropdown-toggle" data-toggle="dropdown" role="button" class="input-group-addon" id="cancel" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">cancel</i>
                                </a>
  <div class="panel-body">
    <form name="myform">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <div class="form-group">
          <label for="age" [ngStyle]="{'color': product.productId? '':'red'}">Mã Sản Phẩm *</label>
          <input id="productId" name="productId" class="form-control" [disabled]="product.billId" [(ngModel)]="product.productId" type="text" min="1">
          <span id="error_age" class="text-danger"></span>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <label for="age">Số Lượng *</label>
                <input id="age" name="quantity" class="form-control" [disabled]="reservationId" [(ngModel)]="product.quantity" type="number" min="1">
                <span id="error_age" class="text-danger"></span>
            </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label for="age">Hộp *</label>
                <a [ngClass]="reservationId?'disabled':''" class="input-group-addon" style="padding: 0; border: 0"><i style="font-size: 35px" [ngStyle]="{'color': product.keepBox? '':'slategrey'}" (click)="toggleHop()" class="material-icons">check_circle</i></a>
                <span id="error_age" class="text-danger"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="age">Giá Web *</label>
          <input id="age" name="price" class="form-control" [(ngModel)]="product.price" type="number" min="1">
          <span id="error_age" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label for="age">Khối Lượng *</label>
          <input id="age" name="weight" class="form-control" [(ngModel)]="product.weight" type="number" min="1">
          <span id="error_age" class="text-danger"></span>
        </div>
      </div>
    </form>
  </div>
  <a (click)="duplicateProduct()" class="input-group-addon" id="addMore"> <i class="material-icons">add</i> </a>
</div> -->
<td><input id="age" name="brand" class="form-control" type="text" min="1"></td>
  <td><input id="age" name="brand" class="form-control" type="text" min="1"></td>
  <td><input id="age" name="brand" class="form-control" type="text" min="1"></td>
  <td><input id="age" name="brand" class="form-control" type="text" min="1"></td>
  <td><input id="age" name="brand" class="form-control" type="text" min="1"></td>
  <td><input id="age" name="brand" class="form-control" type="text" min="1"></td>
  <td><input id="age" name="brand" class="form-control" type="text" min="1"></td>
  <td>
      <input class="filled-in chk-col-pink" name="keepBox" [checked]='true' type="checkbox">
      <label style="padding-left: 0; height: 13px; left: 9px;" for="keepBox"></label>
  </td>
  <td class="action"><button style="margin-right: 10px">chép</button> <button>xóa</button></td>