<div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Thương Hiệu
          </div>
          <div class="panel-body">
            <form name="myform">
              <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="list-group">
                  <div class="list-group-item list-group-item-success">
                    <label>First item</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="list-group-item list-group-item-warning">
                    <label>First item</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="list-group-item list-group-item-success">
                    <label>First item</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="list-group-item list-group-item-warning">
                    <label>First item</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="form-group" style="text-align:center">
                  <label for="age">Thêm Thương Hiệu *</label>
                  <input class="form-control" type="text">
                  <a class="btn btn-primary" style="margin-top: 20px">Thêm</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align:center">
    <button class="btn btn-warning" [mat-dialog-close]="true">Back</button>
  </div>