<section class="content">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Đơn Hàng
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Thêm Khách Hàng</a></li>
                                    <li><a href="javascript:void(0);">Tìm Kiếm</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group">
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="sdt" placeholder="Tìm Kiếm Theo Số Điện Thoại">
                                </div>
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="tenkh" placeholder="Tìm Kiếm Theo Tên">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Tên Khách Hàng</th>
                                        <th>Số Điện Thoại</th>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tiền Yên</th>
                                        <th>Đặt Cọc</th>
                                        <th>Ngày</th>
                                        <th>Tài Khoản</th>
                                        <th>Thương Hiệu</th>
                                        <th>Ghi Chú</th>
                                        <th>Tỉ Giá</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Tên Khách Hàng</th>
                                        <th>Số Điện Thoại</th>
                                        <th>Mã Sản Phẩm</th>
                                        <th>Tiền Yên</th>
                                        <th>Đặt Cọc</th>
                                        <th>Ngày</th>
                                        <th>Tài Khoản</th>
                                        <th>Thương Hiệu</th>
                                        <th>Ghi Chú</th>
                                        <th>Tỉ Giá</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let item of fakedData | user: {'sdt': sdt, 'tenkh': tenkh}">
                                        <td><a (click)="openAddProductKind()" data-toggle="tooltip" data-placement="top" title="Click Để Xem Thông Tin Chi Tiết Khách Hàng">{{item.tenkh}}</a></td>
                                        <td>{{item.sdt}}</td>
                                        <td (click)="gotoDetail(item)" >
                                            <ul *ngIf="item.listProduct">
                                                <li *ngFor="let product of item.listProduct">{{product.masp}} - {{product.soluong}}</li>
                                            </ul>
                                        </td>
                                        <td>{{item.tienyen}}</td>
                                        <td>{{item.datcoc}}</td>
                                        <td>{{item.ngay}}</td>
                                        <td>{{item.taikhoan}}</td>
                                        <td>{{item.thuonghieu}}</td>
                                        <td>{{item.ghichu}}</td>
                                        <td>{{item.tigia}}</td>
                                        <td>{{item.trangthai}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>