<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Đơn Hàng
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Thêm Khách Hàng</a></li>
                                    <li><a href="javascript:void(0);">Tìm Kiếm</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group">
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="tenkh" placeholder="Tên">
                                </div>
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="tendh" placeholder="Mã ĐH">
                                </div>
                                <div class="form-group" style="margin: 0">
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="from" placeholder="From">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker></mat-datepicker>
                                     </mat-form-field>  
                                     <mat-form-field> 
                                        <input matInput [matDatepicker]="myDatepicker2" [(ngModel)]="to" placeholder="To">
                                          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle> 
                                        <mat-datepicker #myDatepicker2></mat-datepicker>
                                     </mat-form-field>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th (click)="sr = !sr">Tên Khách Hàng</th>
                                        <th *ngIf="sr">Số Điện Thoại</th>
                                        <th>Mã Đh</th>
                                        <th *ngIf="sr">Mã Sản Phẩm</th>
                                        <th *ngIf="sr">Tiền Yên</th>
                                        <th *ngIf="sr">Đặt Cọc</th>
                                        <th *ngIf="sr">Ngày</th>
                                        <th *ngIf="sr">Tài Khoản</th>
                                        <th *ngIf="sr">Thương Hiệu</th>
                                        <th *ngIf="sr">Ghi Chú</th>
                                        <th *ngIf="sr">Tỉ Giá</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Tên Khách Hàng</th>
                                        <th *ngIf="sr">Số Điện Thoại</th>
                                        <th>Mã Đh</th>
                                        <th *ngIf="sr">Mã Sản Phẩm</th>
                                        <th *ngIf="sr">Tiền Yên</th>
                                        <th *ngIf="sr">Đặt Cọc</th>
                                        <th *ngIf="sr">Ngày</th>
                                        <th *ngIf="sr">Tài Khoản</th>
                                        <th *ngIf="sr">Thương Hiệu</th>
                                        <th *ngIf="sr">Ghi Chú</th>
                                        <th *ngIf="sr">Tỉ Giá</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let item of fakedData | user: {'tendh': tendh, 'tenkh': tenkh} | time: {'from': from, 'to': to}">
                                        <td><a (click)="openAddProductKind()" data-toggle="tooltip" data-placement="top" title="Click Để Xem Thông Tin Chi Tiết Khách Hàng">{{item.tenkh}}</a></td>
                                        <td *ngIf="sr">{{item.sdt}}</td>
                                        <td (click)="gotoDetail(item)"><a>{{item.tendh}}</a></td>
                                        <td *ngIf="sr">
                                            <ul *ngIf="item.listProduct">
                                                <li *ngFor="let product of item.listProduct" ><span style="">{{product.masp}}</span><span  style="float: right;width: 21px;letter-spacing: 0px;text-align: right;">{{product.soluong}}</span><span style="float: right">|</span></li>
                                            </ul>
                                        </td>
                                        <td *ngIf="sr">{{item.tienyen}}</td>
                                        <td *ngIf="sr">{{item.datcoc}}</td>
                                        <td *ngIf="sr">{{formatService.formatDate(item.ngay)}}</td>
                                        <td *ngIf="sr">{{item.taikhoan}}</td>
                                        <td *ngIf="sr">{{item.thuonghieu}}</td>
                                        <td *ngIf="sr">{{item.ghichu}}</td>
                                        <td *ngIf="sr">{{item.tigia}}</td>
                                        <td>{{item.trangthai}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>