<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>Khách Hàng</b></a>
            <small>Thông Tin Chi Tiết</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person</i>
                      </span>
                        <div class="form-line">
                            <label class="form-control" *ngIf="!toggle.name" (click)="onClickMethod('name')">{{data.tenkh}}</label>
                            <input type="text" class="form-control" [(ngModel)]="data.tenkh" *ngIf="toggle.name" name="namesurname" placeholder="Name Surname" (blur)="onBlurMethod('name')" required autofocus> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">phone</i>
                      </span>
                        <div class="form-line">
                            <label class="form-control" *ngIf="!toggle.sdt" (click)="onClickMethod('sdt')">{{data.sdt}}</label>
                            <input type="text" class="form-control" [(ngModel)]="data.sdt" *ngIf="toggle.sdt" name="namesurname" placeholder="Phone Number" (blur)="onBlurMethod('sdt')" required autofocus> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">email</i>
                      </span>
                        <div class="form-line">
                            <label class="form-control" *ngIf="!toggle.email" (click)="onClickMethod('email')">{{data.email}}</label>
                            <input type="text" class="form-control" [(ngModel)]="data.email" *ngIf="toggle.mail" name="email" placeholder="Email" (blur)="onBlurMethod('email')" required autofocus> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <label class="" *ngIf="!toggle.address" (click)="onClickMethod('address')">{{data.diachi}}</label>
                            <input type="text" class="form-control" [(ngModel)]="data.diachi" *ngIf="toggle.address" name="address" placeholder="Address" (blur)="onBlurMethod('address')" required autofocus> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input [type]="'text'" class="form-control" name="confirm" minlength="6" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="isNew">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input [type]="'text'" class="form-control" name="confirm" minlength="6" placeholder="Deposite" required>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="isNew">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input [type]="'text'" class="form-control" name="confirm" minlength="6" placeholder="Product Code" required>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="isNew">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input [type]="'number'" class="form-control" name="confirm" minlength="6" placeholder="Quantity" required>
                        </div>
                    </div>

                    <div class="m-t-25 m-b--5 align-center" style="margin-bottom: 20px">
                        <a mat-dialog-close routerLink="/home/history">Xem Lịch Sử Giao Dịch</a>
                    </div>

                    <div style="display: inline-block; width: 100%">
                        <button class="btn btn-block btn-lg bg-cyan waves-effect" style="float:left" type="submit">UPDATE</button>
                        <button class="btn btn-block btn-lg bg-pink waves-effect" style="float:left" mat-dialog-close>CANCEL</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>