<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>Khách Hàng</b></a>
            <small>Thông Tin Chi Tiết</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person</i>
                      </span>
                        <div class="form-line">
                            <label class="form-control" *ngIf="false" (click)="onClickMethod()">{{text}}</label>
                             <input type="text" class="form-control" [(ngModel)]="text" *ngIf="true" name="namesurname" placeholder="Name Surname" (blur)="onBlurMethod()" required autofocus> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">phone</i>
                      </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="phone" placeholder="Số Điện Thoại" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">email</i>
                      </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input [type]="'password'" class="form-control" name="confirm" minlength="6" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input [type]="'password'" class="form-control" name="confirm" minlength="6" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input [type]="'password'" class="form-control" name="confirm" minlength="6" placeholder="Confirm Password" required>
                        </div>
                    </div>

                    <div class="m-t-25 m-b--5 align-center" style="margin-bottom: 20px">
                        <a>Xem Lịch Sử Giao Dịch</a>
                    </div>

                    <div style="display: inline-block; width: 100%">
                        <button class="btn btn-block btn-lg bg-cyan waves-effect" style="float:left" type="submit">UPDATE</button>
                        <button class="btn btn-block btn-lg bg-pink waves-effect" style="float:left" mat-dialog-close>CANCEL</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>