<section class="content">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            User List
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">add</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                     <div class="body">
                        <div id="sign_up" method="POST">
                            <div class="input-group">
                                <div class="form-line">
                                    <input [type]="'text'" class="form-control" [(ngModel)]="code" placeholder="Tìm Kiếm Theo Mã Code">
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Mã Code</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>website</th>
                                        <th>Giá Web</th>
                                        <th>Khối Lượng</th>
                                        <th>Tỉ Giá</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Mã Code</th>
                                        <th>Tên Sản Phẩm</th>
                                        <th>website</th>
                                        <th>Giá Web</th>
                                        <th>Khối Lượng</th>
                                        <th>Tỉ Giá</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                     <tr *ngFor="let item of fakedData | user: {'macode': code}">
                                        <td><a (click)="openAddProductKind()" data-toggle="tooltip" data-placement="top" title="Click Để Xem Thông Tin Chi Tiết Khách Hàng">{{item.macode}}</a></td>
                                        <td>{{item.tensp}}</td>
                                        <td><a target="_blank" href={{item.trangweb}}>website</a></td>
                                        <td>{{item.giaweb}}</td>
                                        <td>{{item.khoiluong}}</td>
                                        <td>{{item.tigia}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>