<body *ngIf="user.makh" class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a>Kokoro<b>SHOP</b></a>
             <small>Change Password</small> 
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input type="password" class="form-control" [(ngModel)]="oldPass" name="oldPass" minlength="6" placeholder="Old Password" required>
                        </div>
                    </div>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input type="password" class="form-control" [(ngModel)]="newPass" name="newPass" minlength="6" placeholder="New Password" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                        <div class="form-line">
                            <input type="password" class="form-control" [(ngModel)]="cfPass" name="confirmNewPass" minlength="6" placeholder="Confirm New Password" required>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" (click)="submit()" type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</body>

<body *ngIf="!user.makh" class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code"><i class="material-icons" style="font-size: inherit;color: darkgrey;">face</i></div>
        <div class="error-message">Xin Hãy Đăng Nhập!</div>
        <a routerLink="/login">Go to Login</a>
    </div>
</body>